<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hcmute.nguyennhattam.mssv19110283.foodyapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodyApplication">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".signup.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>